$cBase: #fff;
$cMain: #333333;
$cSub: #abdbf7;
$cAccent: #2fa7ec;
$cAccentOrange: #f8b02b;
$fontPrimary: 'Noto Sans JP', serif;
$fontSecondary: 'Yu Gothic', 'YuGothic', '游ゴシック体', sans-serif;
$fontGreeting: 'Chalk JP', 'BIZ UDPMincho', 'Yu Mincho', '游明朝体',
  'Hiragino Mincho ProN', sans-serif;
